ion-content{
background: linear-gradient(to bottom, 	#EECDA3, #EF629F);
}
h2{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center
}
p{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify
}
