ion-content{
background: linear-gradient(to bottom, #093637, #44a08d);
}
h2{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center
}
p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify
}