ion-content{
background: linear-gradient(to bottom, #44a08d, #093637);
}
h2{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center
}
p{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify
}
